@model IEnumerable<Adminweb.Models.Employee>



<table class="table table-responsive table-hover" style="height:472px;overflow:scroll">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Skill</th>
            <th>State</th>
            <th>City</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int i = 0;
            foreach (var item in Model)
            {
                i++;

                <tr>


                    <td>@item.ID</td>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.Email</td>

                    <td>@item.PhoneNo</td>

                    <td>@item.Gender</td>

                    <td>@item.Department</td>

                    <td>@item.Skill</td>

                    <td>@item.State</td>

                    <td>@item.City</td>
                    <td><button class="btn btn-danger " onclick="DeleteEmp(@item.ID)">delete</button><button class="btn  btn-primary btnEdit" onclick="UpdateEmp(@item.ID)">edit</button></td>


                </tr>
              

            }
        }
        
    </tbody>
</table>
<script>
    //$('body').on('click', '.btn-danger', function () {

    //    let row = $(this).closest('tr');
    //    var obj = {
    //        ID: row.attr('data-id'),
    //    }

    //    $.post('/Home/DeleteEmp', obj).done(function (result) {
    //        loaddata();
    //    }).fail(function (result) {
    //        alert('Failed');
    //    });


    //});

</script>
